.container1{
margin-left: 140px;
}
.l-img{
position:relative;
display:block;
float:left;
margin:0 10px 10px 0;
}
#text1,#text2,#text3{
display:none;
}
.container2{
position:absolute;			
width:945px;
height:376px;
left:50%;
top:50%;
margin-left:-472px;
margin-top:-173px;	
}
table.ex{
border:1px solid #666;
border-collapse:collapse;
border-spacing:0;
margin:0;
}
table.ex th{
background-color:#E0E0E0;
border:1px solid #666;
padding: 6px 12px;
text-align:left;
vertical-align:top;	
}
table.ex tr.even td{
background-color:#E5ECF9;
}
table.ex tr.odd td{
background-color:#FFF;
}
table.ex td{
border:1px solid #666;
padding:6px 12px;
text-align:left;
vertical-align:top;
}